body{
    background-color:#d3dad9;
}

#map {
    
        height: 80vh; /* Imposta l'altezza della mappa a tutta la finestra del browser */
        width: 60%;  /* Imposta la larghezza della mappa a tutta la larghezza della finestra */
    }

#core {
    display:flex ;
    gap: 20px;
    align-items:center;
}

/* Stile base della tabella */
#buoyDetails {
    width: 100%;
    border-collapse: collapse; /* Unisce i bordi delle celle */
    margin: 20px 0; /* Aggiunge margine sopra e sotto la tabella */
    background-color: #83a8cd;
    border-radius: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Stile delle intestazioni (th) */
#buoyDetails th {
    background-color: #83a8cd; /* Colore di sfondo per le intestazioni */
    font-weight: bold; /* Imposta il grassetto */
    padding: 8px;
    text-align: left; /* Allinea il testo a sinistra */
    border-radius: 25px;
}

/* Stile delle celle (td) */
#buoyDetails td {
    padding: 8px;
    border: 2px solid #ddd; /* Linee sottili di divisione */
}

/* Responsività: quando la larghezza dello schermo è inferiore a 600px */
@media (max-width: 600px) {
    #buoyDetails {
        font-size: 14px; /* Riduce la dimensione del font per schermi piccoli */
    }

    #buoyDetails th, #buoyDetails td {
        padding: 6px; /* Riduce l'imbottitura */
    }
    
    /* Gestione della larghezza delle colonne per schermi piccoli */
    #buoyDetails td {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    /* Cambia il colore di sfondo per una migliore leggibilità sui dispositivi mobili */
    #buoyDetails th {
        background-color: #dcdcdc; /* Colore di sfondo più scuro per le intestazioni */
    }
}


#newBuoy {
        padding: 15px 30px; /* Aumenta la dimensione del bottone */
        background-color: #83c6cd; /* Sfondo azzurro */
        color: white; /* Colore del testo bianco */
        border: none;
        border-radius: 25px; /* Angoli arrotondati */
        font-size: 16px; /* Dimensione del testo */
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease; /* Aggiungi transizione per l'effetto hover */
    }
    
    #newBuoy:hover {
        background-color: rgb(69, 69, 112); /* Colore di sfondo più scuro al passaggio del mouse */
        transform: scale(1.1); /* Ingrandisce leggermente il bottone */
    }
    

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(69, 69, 112);
}

/* Animazione che simula il movimento dell'acqua */





    
     